{% sw_extends '@Storefront/storefront/layout/footer/footer.html.twig' %}

{% block layout_footer_payment_shipping_logos %}
    {{ parent() }}
    <div class="mx-auto col-md-8 col-lg-6 col-xl-4">
        <div class="d-flex justify-content-around">
            <img src="{{ link file='public/storefront/img/facebook.svg' }}" alt="Logo" style="height:3em;">
            <p>2</p>
        </div>
    </div>
{% endblock %}
